@import '../../styles/variables';

.container {
  display: grid;
  grid-template-columns: 2fr 9fr 1fr;

  .content {
    position: relative;
    padding-bottom: 6.25rem;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    overflow: hidden;

    .swiper-wrap {
      position: relative;
      width: 100%;
      overflow: hidden;
      margin-top: 3rem;
    }  
  }
}

.heading-1 {
  position: relative;
  padding-left: 5rem;
  font-size: 3.5em;
  line-height: 120%;
  margin-top: 10.625rem;
  margin-bottom: 3rem;

  &::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 0;
    width: 5px;
    height: 90%;
    background: linear-gradient(to bottom, $secondary-color, $accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}


.period {
  font-size: clamp(2em, 12.5vw, 12.5em);
  font-weight: 700;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
