@import '../../styles/variables';

.period {
  font-size: clamp(2em, 12.5vw, 12.5em);
  font-weight: 700;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  gap: 4rem;

  .year-start {
    color: $primary-color;
  }
  .year-end {
    color: $accent-color;
  }
}
