$background-color: #F4F5F9;
$text-color: #42567A;
$primary-color: #5D5FEF;
$secondary-color: #3877EE;
$accent-color: #EF5DA8;
$border-color: rgba($text-color, 0.1);
$white-color: #FFFFFF;

$font-main: 'PT Sans', sans-serif;
$font-bebas-neue: 'Bebas Neue', sans-serif;

:root {
  --swiper-navigation-size: 12px;
  --pagination-size: 530px;
  --pagination-bullets-size: 6px;
  --pagination-bullets-active-size: 56px;
  --pagination-bullets-offset: calc(var(--pagination-size)/2 - var(--pagination-bullets-size)/2);
  --pagination-bullets-active-offset: calc(var(--pagination-size)/2 - var(--pagination-bullets-active-size)/2);
}
