$background-color: #E5E5E5;
$text-color: #42567A;
$primary-color: #5D5FEF;
$secondary-color: #3877EE;
$accent-color: #EF5DA8;

$font-main: 'PT Sans', sans-serif;
$font-bebas-neue: 'Bebas Neue', sans-serif;
